:root {
  --orange: #ffbd15;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.input-group {
  max-width: max-content;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
}
.input-group input {
  padding: 10px 20px;
  border: none;
}