:root {
  --orange: #ffbd15;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
}
.container {
  display: block;
  margin: auto;
  max-width: 600px;
}
.form-container {
  background: var(--orange);
  padding: 20px;
  border-radius: 10px;
}
.input-group {
  max-width: max-content;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
}
.input-group input {
  padding: 10px 20px;
  border: none;
}